<% content_for(:title, 'Skill Category | Projects') %>

<h3><%= @category.name %></h3>

<% if current_user && current_user.admin? %>
  <p><%= link_to "Edit Category", edit_category_path(@category) %></li>
  <p><%= link_to "Delete", category_path(@category),
                             :data => {:confirm => "You sure?",
                                       :method => "delete"} %></p>
<% end %>

<%if @category.projects.any? %>
 <h3>Projects in this section:</h3>



   <ul>
    <% @category.projects.each do |project| %>
      <li><%= link_to project.name, project.url %></a>
        <ul>
          <li class="inner-list-item">Description:  <%= project.description %>
          <li class="inner-list-item">Github: <%= link_to project.github, project.github %></li>
        </ul>
        <br />
      <% if current_user && current_user.admin? %>
        <button class="edit-btn"><%= link_to "Edit Project", edit_category_project_path(@category, project) %></button>
        <button><%= link_to "Delete Project", category_project_path(@category, project),
                     :data => {:confirm => "Confirm?",
                     :method => "delete"} %></button></li>
        <br />
      <% end %>
    <% end %>
   </ul>
<% else %>

 <h3>There are no projects in this category yet.</h3>

<% end %>


<br>

<% if current_user && current_user.admin? %>
  <p><%= link_to 'Add a New Project', new_category_project_path(@category) %></p>
<% end %>

<p><%= link_to "Return to skill categories", categories_path %></p>
